$white-600: #fdfdfd;
$white-700: #f7f7f7;
$white-800: #f1f5f8;
$white-900: #ffffff;

$purple-700: #401a9b;
$purple-900: #30107d;

$green-500: #5bf1cc;
$green-900: #06d6a2;

$red-500: #f3668e;
$red-900: #db3766;

$gray-100: #eeeaea;
$gray-200: #d9d9d9;
$gray-400: #c2bfbf;
$gray-500: #b9b9b9;
$gray-600: #9b9a9a;
$gray-700: #555555;
$gray-900: #4e5555;
